h1{
    text-align: center;
}

body{
    background-color: rgb(239, 244, 202);
}

.container{
    color : black;
    max-width : 50%;
    height: 70vh;
    margin : 10px auto ;
    background-color: rgba(0, 0, 0, 0.114);
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}

.message{
    margin: "2px 0px";
    background-color: gray;
    padding: 5px;
    border : 1px solid black;
    border-radius: 5px;
}

.left{
    float: left;
    clear : both ;
}

.right{
    float: right;
    clear: both;
}

#sendMessage-container{
text-align: center;
display: block;
margin: auto;
max-width: 45%;
width: 100%;
}

#messageInp{
    width: 95%;
    border : 1px solid black;
    height: 30px;
    border-radius: 10px;
}

.btn{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin : 5px auto
}

